.main-div{
    background-color: #98d3f5;
    border-bottom: 1px solid black;
}
.main-head{
    text-align: left;
    padding: 1rem;
    padding-left: 0rem;
}
.write{
    height: 2.5rem;
    width: 8rem;
    border-radius: 2rem;
    border: 1px solid black;
    color: black;
    background-color: white;
    margin-top: 2rem;
    cursor: pointer;
}