p{
    text-align: left;
}
.author{
    font-size: 1rem;
    font-weight: bolder;
}
.title-news{
    font-size: 2rem;
}
.desc{
    font-size: 1rem;
}
.news{
    margin-top: 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.ss{
    height: 10rem;
    width: 14rem;
}

@media only screen and (max-width: 800px) {
    .ss{
        height: 5rem;
        width: 5rem;
    }
    .author{
        font-size: 1rem;
        font-weight: bolder;
    }
    .title-news{
        font-size: 1rem;
        font-weight:600;
    }
    .desc{
        font-size: 1rem;
        font-weight: lighter;
    }
}